@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*>*{
    font-family: 'Poppins', sans-serif;
}
.input-text{
   @apply mt-1 block w-60 px-3 py-1 bg-white border-slate-300
   rounded-full text-sm shadow-sm placeholder-slate-300
}
/* .image{
  @apply sm:w-[100%] m-auto  w-9/12 
} */
/* the new container */
.swiper-container {
    position: relative;
    width: 100%;
    padding: 0 40px;
}

/* fix the buttons positions */
.swiper-button-prev {
    position: absolute;
    top: 50%;
    left:10px;
    color:rgb(136, 136, 136);
    transform: translatey(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 10px;
    color:rgb(136, 136, 136);
    transform: translatey(-50%);
    z-index: 10;
    cursor: pointer;
}

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.loader {
    content: "";
    width: 60px;
    height: 60px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  .card-wrapper {
    padding: 2%;
  }
  
  .card-wrapper .card{
    margin: 0 auto;
  }
  
  .card {
    position: relative;
    max-width: 100%;
    background-color: #FEEFDE;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 1px 2px 8px rgba(100, 100, 100, 0.1);
  }
  
  .image-wrapper {
    background-color: red;
    width: auto;
    height: 300px;
    overflow: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  img.card-wrapper:hover {
   -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
    transition: all 1s linear;
  }
  
  .text-box-wrapper {
   padding: 20px 
  }
  
  .heading {
    font-family: 'Playfair-Display';
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
  }
  
  .heading::after {
    content: '';
    display: block;
    margin-top: 0.5em;
    width: 30px;
    height: 5px;
    background-color: black;
  }
  
  .text {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding-top: 10px;
    line-height: 2;
  }
  
  .button {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    color: #8C5450;
    text-decoration: none;
   
  }
  
  .button:hover {
    color: black;
  
    transition: linear 0.2s;
  }

  .parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  
  