@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*>*{
    font-family: 'Poppins', sans-serif;
}
.input-text{
   @apply mt-1 block w-60 px-3 py-1 bg-white border-slate-300
   rounded-full text-sm shadow-sm placeholder-slate-300
}
/* the new container */
.swiper-container {
    position: relative;
    width: 100%;
    padding: 0 40px;
}

/* fix the buttons positions */
.swiper-button-prev {
    position: absolute;
    top: 50%;
    left:10px;
    color:rgb(136, 136, 136);
    transform: translatey(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 10px;
    color:rgb(136, 136, 136);
    transform: translatey(-50%);
    z-index: 10;
    cursor: pointer;
}
